/tests/python/ofp_api_server_script
/tests/socket_server/ip.conf
__pycache__/
*.pyc
*.a
*.log
*/dist/
conf/ca.*
*.rrd
/bin
/tests/bin
/tests/perf/bin
/tests/socket_server/bin
/stats-collector/bin
.objs/
*.swp
*.egg-info
tests/python/log*
